.slider-container {

    padding: 40px;
}

/* Assuming each slide has a class 'slide' */
.slide {
    justify-content: center;
    text-align: center;
}




.slick-slide img {
    display: inline;
}

.text-container {
    text-align: left;
}