@import "tailwindcss/tailwind.css";



/* Add this to your global CSS or a relevant CSS file */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1;
}
