@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
@media (max-width: 768px) {
    .md\:block {
        display: none;
    }
    .mobile-card:hover {
        background-color: #1f1f1f; /* Add some hover effect */
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #000000, #434343);
    color: #ffffff;
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.lazyload {
    opacity: 0;
    transition: opacity 300ms;
}
.lazyloaded {
    opacity: 1;
}

/* Neumorphism styles */
.shadow-neumorphism {
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.1);
}

.shadow-inner-neumorphism {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.6), inset -4px -4px 8px rgba(255, 255, 255, 0.1);
}

/* Modern look styles */
.navbar {
    background-color: #1c1c1c;
    border-bottom: 1px solid #333;
}

.navbar a {
    color: #ffffff;
}

.navbar a:hover {
    color: #1db954; /* Spotify green for vibrant highlight */
}

.bg-gray-800 {
    background-color: #1f1f1f;
}

.bg-gray-900 {
    background-color: #181818;
}

.chart-container {
    @apply w-full h-96 md:h-128;
}
